@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h1{  
  animation: 1s ease-out 0s 1 slideInFromLeft; font-size: 12em
  
}


/* Added for aesthetics */ body {margin: 0;font-family: "Segoe UI", Arial, Helvetica, Sans Serif;} a {text-decoration: none; display: inline-block; margin-right: 10px; color:#fff;}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.button {
  background-color: #333; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;

  background: #333;
  padding: 30px;
}

.header a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: #333;
  padding: 30px;
}

.header a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
div.a {
  font-size: 48px;
  text-align: left;
}

div.c {
  text-align: left;
}
div.b {
  text-align: center;
  font-size: 48px;
}
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #A9A9A9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #A9A9A9;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.button3 {border-radius: 8px;}
input[type=button], input[type=submit], input[type=reset] {
  background-color:#383838;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
